### Importando as bibliotecas necessárias

Caso seja necessário execute os seguintes códigos em um célula vazia:

<code>
    !pip install pandas
</code>

In [1]:
from b3_data import *
import pandas as pd

### Baixando os demonstrativos históricos
A função que é o coração desse projeto é a <code>get_statements()</code>, com ela baixamos os demonstrativos tomando como input o período de tempo desejado.

Os demonstrativos disponíveis são:

| Demonstrativo | Abreviação consolidado | Abreviação individualizado |
|---|---|---|
| Balanço Patrimonial Ativo | BPA_con | BPA_ind |
| Balanço Patrimonial Passivo | BPP_con | BPP_ind |
| Demonstrativo de Fluxo de Caixa (Direto)  | DFC_MD_con| DFC_MD_ind |
| Demonstrativo de Fluxo de Caixa (Indireto) | DFC_MI_con| DFC_MI_ind |
| Demonstratibo de Mutação do Patrimônio Líquido | DMPL_con | DMPL_ind | 
| Demonstrativo de Resultado Abrangente | DRA_con | DRA_ind
| Demonstrativo de Resultado de Exercícios | DRE_con | DRE_ind
| Demontrativo de Valor Agregado | DVA_con | DVA_ind

Vale ressaltar que a CVM disponibiliza os demonstrativos apenas de 2011 em diante, portanto não é possível baixar os de anos anteriores.

Portando, para baixá-los execute a célular a seguir. Pode demorar alguns minutos, lembre-se que são muitos arquivos grandes.

In [ ]:
begin = 2011
end = 2012

get_statements(begin,end)

In [20]:
stt = pd.read_csv('statements/DRE_ind/2011.csv')

trimesters = stt['DT_FIM_EXERC'].unique()
columns = ['DT_FIM_EXERC','CD_CONTA', 'DS_CONTA', 'VL_CONTA']
out_csv = pd.DataFrame(columns = columns)
company_stt = stt[columns][(stt['CD_CVM'] == 1023)].pivot_table(index = ['CD_CONTA','DS_CONTA'], columns = 'DT_FIM_EXERC', values = 'VL_CONTA').fillna(0)

del stt
#for trim in trimesters:
#    trim_stt = company_stt[company_stt['DT_FIM_EXERC'] == trim]
        
#    out_csv = pd.merge(out_csv, trim_stt, on = ['CD_CONTA', 'DS_CONTA'], how = 'outer')
#out_csv
company_stt.head()

,DT_FIM_EXERC,2011-03-31,2011-06-30,2011-09-30
CD_CONTA,DS_CONTA,,,
3.01,Receitas da Intermediação Financeira,20179781.0,32007842.5,47185419.0
3.01.01,Operações de Crédito,13060692.0,20233486.0,27655949.0
3.01.02,Operações de Arrendamento Mercantil,5795.0,8418.5,11123.0
3.01.03,Res. de Op. com Tít. e Val. Mobiliários,5700464.0,9226107.0,15900389.5
3.01.04,Resul. de Instr. Financeiros Derivativos,-323307.0,-680425.5,150010.5

In [17]:
trimesters

array(['2011-03-31', '2011-06-30', '2011-09-30', '2011-12-31'],
      dtype=object)

In [2]:
def stt_to_excel(company_code: int, statement: str, period: str):
    '''
        company_code: código da cvm da empresa,
        statement: o demonstrativo que deseja
        períod: anualmente (year) ou trimestralmente (trim) 
    '''

    base_dir = f'statements/{statement}'
    stt_archives = os.listdir(base_dir)

    concatenate_df = pd.DataFrame()
    for stt_arch in stt_years:
        df = pd.read_csv(
                base_dir + stt_y, encoding = 'ISO-8859-1',
                sep = ';', decimal = ','
            )

        comp_stt = df[
            ['DT_REFER', 'CD_CONTA', 'DS CONTA', 'VL_CONTA'],
            'CD_CVM' == company_code
            ]
        quarters = comp_stt['DT_REFER'].unique
        comp_stt = pd.concat([comp_stt])

NameError: name 'statement' is not defined